@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
}

section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 100px 0;
}

.container-section {
  width: 1024px;
  height: 100%;
  display: flex;
  align-items: center;
}

.gap {
  gap: 75px;
}

.btn-primary {
  background-color: #c49a2d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25p;
  display: block;
  margin: 0 auto;
}
