.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #5d3fd3; /* Couleur d'arrière-plan bleue */
  color: white;
}

.header-title {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.account {
  justify-self: end;
}
